# auto-restart on crash or killed
# ref: https://ma.ttias.be/auto-restart-crashed-service-systemd/

[Unit]
Description=FastVoted Reddit Bot
StartLimitIntervalSec=500
StartLimitBurst=5
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/bin/fastvoted_reddit_bot
KillMode=process
WorkingDirectory=/home/ubuntu/

[Install]
WantedBy=multi-user.target
